h1{
    font-family: Georgia, "Times New Roman", serif;
}
h2{
    font-family: Georgia, "Times New Roman", serif;
    margin: 0;
}
header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #89f;
}
nav{
    display: flex;
    justify-content: space-around;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: #00f;
    text-decoration: none;
    padding: 35px;
}
.home-grid{
    display:grid;
    grid-template-columns: repeat(10, 1fr);
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
#hero{
    border: solid #89f 5px;
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-img{
    width: 100%;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg{
    margin-top: 100px;
    grid-column: 2/3;
    grid-row: 1/2;
    color: #eee;
}
#hero-msg h1{
    text-align: center;
}
#hero-msg h2{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
    background-color: rgba(20, 20, 255, 0.3);
    grid-column: 1/11;
    grid-row: 4/9;
}
body{
    font-family: Arial, helvetica, sans-serif;
    background-color: #eee;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
nav a:hover{
    background-color: #000;
    color: #89f
}
.book, .join{
    background-color: #89f;
    color: #000;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #eee;
    color: #00f;
}
.msg{
    background-color: #89f;
    line-height: 1.5em;
    padding: 35px;
    margin: 10px 0;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #00f;
}
.msg p{
    color: #000;
    padding-bottom: 15px;
}
.msg h2{
    color: #00f;
}
footer{
    background-color: #000;
    color: #eee;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p{
    font-size: 1.2em
}
footer p a:hover{
    text-decoration: underline;
}
footer a{
    color: #89f;
    text-decoration: none;
}
footer a:hover{
    background-color: #89f;
    color: #000;
}
footer .social img{
    padding-top: 15px;
}
.home-title{
    color:#89f;
    font-size: 2em;
    font-family: Georgia, "Times New Roman", serif;
    margin-top: 50px;
}
h4{
    color: #000;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.icon{
    padding-top: 10px;
}
.card-img{
    border:10px solid #00f;
    width: 100%;
    opacity: 0.6;
    transition: transform .5s, opacity .5s;
    box-shadow: 5px 5px 10px #89f;
}
.card-img:hover{
    opacity: 1;
    transform: scale(1.1);
}
main section img {
    box-sizing: border-box;
}
.mountains {
    padding: 5px;
    border: 5px solid black;
    margin: 55px;
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #00f;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h2 {
        display: none;
    }
    #hero-msg h1 {
        color: #89f;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}