#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: #00f;
    text-decoration: none;
}
#hero-msg h1{
    text-align: center;
}
#hero-msg h2{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px
}
body{
    background-color: #eee;
}
header{
    background-color: #89f;
}
nav a:hover{
    background-color: #000;
    color: #89f
}
.book, .join{
    background-color: #89f;
    color: #000;
}
.book:hover, .join:hover{
    background-color: #eee;
    color: #00f;
}
#background{
    background-color: rgba(20, 20, 255, 0.3);
}
.msg{
    background-color: #89f;
}
.msg p{
    color: #000;
}
.msg h2{
    color: #00f;
}
footer{
    background-color: #000;
    color: #eee
}
footer p{
    font-size: 1.2em
}
footer p a:hover{
    text-decoration: underline;
}
footer a{
    color: #89f;
    text-decoration: none;
}
footer a:hover{
    background-color: #89f;
    color: #000;
}
.home-title{
    color:#89f;
}
h4{
    color: #000;
}