
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

/*
****************************************************************************
** General **
****************************************************************************
*/

body{
    background-color: #181818;
    color: #dfd;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1800px;
}
img{
    width: 40%;
    border-radius: 10px;
}
.logo{
    width: 100px
}

/* Header */

header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #ec5;
}
header nav a{
    color: #508;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a:hover{
    background-color: #A42212;
    color: #ec5;
}
nav .links{
    text-align: center;
    color: #00f;
    text-decoration: none;
    padding: 35px 15px;
    font-size: 1.4em;
  min-width: 120px;
}

/* Headings */
h1, h2, h3, h4{
    text-align: center;
    font-family: "IM Fell French Canon SC", serif;
}
h1{
    font-size: 3em
}
h2{
    font-size: 2.5em
}
h3{
    font-size: 2em
}
h4{
    font-size: 1.5em
}

p{
    margin: 30px 100px;
}
ul{
    margin: 30px 140px 40px 110px;
}


/* Footer */

footer{
    background-color: #A42212;
}
footer a{
    text-decoration: none;
    color: #bfc;
}
footer a:hover{
    text-decoration: underline;
    color:#A42212;
    background-color: #bfc;
}

/*
****************************************************************************
** Homepage **
****************************************************************************
*/

.home-images{
    margin: 2% 4.5%;
}

.start-learning{
    padding: 50px;
    margin: auto;
    background-color: #bfc;
    color: #508;
    border-radius: 30px;
    text-decoration: none;
}
.start-learning-link-parent{
    justify-items: center;
    align-items: center;
    display: flex;
}
.jump-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.home-jump-link{
    padding: 30px;
    border-radius: 20px;
    background-color: #A42212;
    color: #bfc;
    text-decoration: none;
    margin: 60px 80px;
    text-align: center;
}



/*
****************************************************************************
** Overworld **
****************************************************************************
*/

.villages{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.villages img{
    width: 90%;
    margin: auto;
    margin-right: 8%;
}


.desert-temples{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.desert-temples img{
    width: 80%;
    margin: auto
}
.desert-temples .hole{
    margin-top: 5%;
    margin-left: 15% 
}
.desert-temples .tnt{
    margin-top: 5%;
    margin-right: 15% 
}

.shipwrecks{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.shipwrecks .introductory-paragraph{
    grid-column: 1/3;
}
.shipwrecks img{
    width: 80%;
    margin: 2% auto
}

/* Entering the nether */
iframe{
    margin: 10px 2.2%;
}

/*
****************************************************************************
** Nether
****************************************************************************
*/

.F3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.treasure-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.treasure-grid > img, .treasure-grid div{
    width: 80%;
    margin: 0 auto;
}

.bridge-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60% 60%;
    margin-bottom: 10%;
}
.bridge-grid img{
    width: 80%;
    margin: 0 auto;
}

.housing-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.housing-grid img, .housing-grid div{
    width: 80%;
    margin: 0 auto;
}
.housing-grid div, .housing-grid p{
    padding-top: 50px;
}
.stables-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.stables-grid img, .stables-grid div{
    width: 80%;
    margin: 0 auto;
}

.routes{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.routes iframe{
    margin: 0 auto;
    width: 80%;
}

.fortress-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.fortress-grid img{
    width: 80%;
    margin: auto auto;
}

/*
****************************************************************************
** Hovering?? not sure how general this is gonna be, but it is modular    **
****************************************************************************
*/

.hover-image-change{
    width: 40%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.hover-image-change img{
    width: 100%;
    grid-row-start: 1;
    grid-column-start: 1;
}
.hover-image-hover{
    opacity: 0;
    transition: 0.2s;
}
.hover-image-hover:hover{
    opacity: 1;
}
