
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
body{
    background-color: #181818;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1800px;
}
img{
    width: 40%;
}
.logo{
    width: 100px
}
header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #ec5;
}
header nav a{
    color: #508;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a:hover{
    background-color: #A42212;
    color: #ec5;
}
nav .links{
    text-align: center;
    color: #00f;
    text-decoration: none;
    padding: 35px 15px;
    font-size: 1.4em;
  min-width: 120px;
}

h1, h2, h3, h4{
    text-align: center;
    font-family: "IM Fell French Canon SC", serif;
}
h1{
    font-size: 3em
}
h2{
    font-size: 2.5em
}
h3{
    font-size: 2em
}
h4{
    font-size: 1.5em
}

p{
    margin: 30px 100px;
}
ul{
    margin: 30px 140px 40px 110px;
}

.home-images{
    margin: 2% 4.5%;
}

.start-learning{
    padding: 50px;
    margin: auto;
    background-color: #bfc;
    color: #508;
    border-radius: 30px;
    text-decoration: none;
}
.start-learning-link-parent{
    justify-items: center;
    align-items: center;
    display: flex;
}
.jump-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.home-jump-link{
    padding: 30px;
    border-radius: 20px;
    background-color: #A42212;
    color: #bfc;
    text-decoration: none;
    margin: 60px 80px;
    text-align: center;
}

footer{
    background-color: #A42212;
}
footer a{
    text-decoration: none;
    color: #bfc;
}
footer a:hover{
    text-decoration: underline;
    color:#A42212;
    background-color: #bfc;
}