body{
    background-color: #181818;
    color: white;
}
img{
    width: 40%;
}
.logo{
    width: 100px
}
/*header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #508;
}
nav{
    display: flex;
    justify-content: space-around;
}*/